  /*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(0, 0%, 99%);
  --dark-color:  hsl(0, 100%, 1%);
  --title-color: hsl(0, 0%, 99%);
  --text-color: hsl(228, 8%, 50%);
  --body-color: hsl(228, 100%, 99%);
  --main-color: #1da1f2;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
}


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}
html {
  height: auto;
  overflow-x: hidden;
}
body {
  position: relative;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  height: auto;
  width: 100%;
  overflow-x: hidden;
}

h1, h2{
  color: var(--title-color);
}

a {
  text-decoration: none;
}

/*Scroll Bar*/
::-webkit-scrollbar {
  width: 10px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color); 
}

/*=============== NAV ===============*/
.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.section {
  padding: 2rem 0;
}

.feature__container {
  margin: auto 100px;
  width: 90%;
  height: auto;
  gap: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.feature__box {
  width: 100%;
  height: 400px;
  box-shadow: 1px 0 4px hsla(228, 81%, 49%, .30);
  border-radius: 1em;
}
.feature__head {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature__head img{
  height: 150px;
}
.feature__head img { 
    animation-name: feature__head;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 

/*Message*/

.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 20px;
   width: 100%;
   margin: 20px auto;
   text-align: center;
   border-radius: 0.50em;
   border: 2px solid #F08080;
}

.pending {
   background: #ffffbf;
   border: 2px solid #cdce90;
   color: #737000;
   padding: 1rem;
   width: 50%;
   text-align: center;
   border-radius: 0.50em; 
}
.success {
   background: #D4EDDA;
   border: 2px solid #8FBC8F;
   color: #40754C;
   padding: 20px;
   width: 100%;
   margin: 10px auto;
   text-align: center;
   border-radius: 0.50em;
}



@keyframes feature__head {
    0% { transform: translate(0,  0px);z-index: 1; }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.feature__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  flex-direction: column;
  padding: 1em;
  text-align: center;
}
.feature__content h1 {
  font-size: 1.50rem !important;
  color: var(--main-color);
}

.feature__buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}



.btn {
  padding: 1rem;
  padding-right: 3em;
  padding-left: 3em;
  display: block;
  width: 100%;
  max-width: 100%;
  text-decoration: none;
  background-color: var(--main-color);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/*Pop up Message */
.alert_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 100;
}
.alert_box i {
  height: 100px;
  width: 100px;
  color: #f23b26;
  font-size: 7rem;
  padding-top: 0.35em;
}
.background{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 99;
}
.alert_box{
  display: flex;
  position: fixed;
  background: #fff;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 450px;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% , -50%) scale(0.97);
  transition: all 0.3s ease;
}
#check:checked ~ .alert_box{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50% , -50%) scale(1);
}
#check:checked ~ .background{
  opacity: 1;
  pointer-events: auto;
}
#check{
  display: none;
}

.alert_box header{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0;
}
.alert_box p{
  font-size: 1.15em;
}
.alert_box .btns {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 90%;
  gap: 1em;
}
.buttons label {
  top: 58px !important;
  color: var(--first-color) !important;
  cursor: pointer;
}

button {
  border: none;
}


/*Notification Count Design*/

#notification_count
{
padding: 0px 5px 0px 5px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
margin-left: 20px;
margin-top: -1.5em;
border-radius: 9px;
position: absolute;
font-size: 1rem;
z-index: 1;
}