/* Table of Contents

  1. Global Styles
  2. Head Navigation
  3. Home Section

*/


/* ==================================================================================
  1. Global Styles                                                     
=====================================================================================*/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
      
}
:root {
    /*Fonts*/
    --font-family: Trebuchet MS;
    --font-size-h1: 3rem;
    --font-size-p: 1.1rem;
    --font-size-logo: 3rem;
    /*Colors*/
    --color-logo: #03C3F5;;
    --color-navitems: #DCDCDC;;
    --primary-color: #fff;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
    line-height: 1.6;
    overflow-x: hidden;
    width: 100%;
    font-family: var(--font-family);
    height: 100vh;
}

.body__container {
  width: 100%;
  height: 100%;
}
/* ==================================================================================
  2. Head Navigation                                                 
=====================================================================================*/

.open-side-button {
  display: none;
}
.nav-container {
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 50%;
}
.nav-container ul, li {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.nav-container .logo{
  display: flex;
  padding-left: 2em;
  justify-content: center;
  align-items: center;
}
.nav-container span{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: var(--primary-color);
  width: 50px;
  font-size: min(5vw,10px);
  border-radius: 5px;
  transition: 1s;
} 
 .nav-container span:hover,
  .nav-container span:focus {
  transform: translateY(-0.5em);
}
.nav-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em;
  padding: 1em;
  color: #000;
  font-weight: bold;
  border: 1px solid var(--primary-color);
  font-size: min(1vw,15px);
  border-radius: 5px;
  height: 40px;
  width: auto;
  transition: 1s;
}
.nav-container a:after {

}
.nav-container a:hover:after,
.nav-container a:hover, 
.nav-container a:focus {
  text-decoration: none;
  color: #000;
  transform: translateY(-0.5em);
}


/* dd container */
.dropdown {
  display: flex;
}

/* button */
.dropbtn {
  cursor: pointer;
  transition: 0.35s ease-out;
}
.dropdown a{
  color: var(--primary-color);
}
.dropdown a:hover{
    color: var(--primary-color);
}


/* dd content */
.dropdown .dropdown-content {
  position: absolute;
  top: 50%;
  left: 15%;
  background-color: #F0FFFF;
  min-width: 70%;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: 0.35s ease-out;
}
.dropdown-content a {
  text-align: center;
  color: black;
  display: block;
  text-decoration: none;
  transition: 0.35s ease-out;
}
.dropdown-content a:hover {
  background-color: #03C3F5;
}

/* show dd content */
.dropdown:focus .dropdown-content {
  outline: none;
  border-radius: 5px;
  transform: translateY(30px);
  visibility: visible;
  opacity: 1;
}
/* mask to close menu by clicking on the button */
.dropdown .db2 {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0; opacity: 0;
  cursor: pointer;
  z-index: 10;
  display: none;
}
.dropdown:focus .db2 {
  display: inline-block;
}
.dropdown .db2:focus .dropdown-content {
  outline: none;
  visibility: hidden;
  opacity: 0;
}
/* ==================================================================================
  3. Home Section                                          
=====================================================================================*/
.home-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5em;
}

.center-container img {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding-bottom: 2em;
}
.center-container p {
  color: var(--primary-color);
  font-size: max(1.5vw, 15px);
  padding-top: 1em;
  max-width: 70px auto;
}

/* Button */
.home-buttons {
  padding-top: 2em;
  
}
.GS {
  background-color: #03C3F5;
  width: 200px;
  max-width: 80%;
  height: 45px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 30px;
  transition: all 0.5s;
  font-size: 1.6rem;
}
.GS span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: min(max(20px, 3vw), 20px);
}
.GS span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.GS:hover {
  border: 1px var(--primary-color) solid;
}
.GS:hover span {
  padding-right: 25px;
}

.GS:hover span:after {
  opacity: 1;
  right: 0;
}
section {
    width: 100%;
    height: 100vh;
    /* Scroll Snap */
}
section#home {
  background: url('../../assets/img/home-bg.svg') no-repeat center center/cover;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F0FFFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.close-button a {
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: var(--primary-color);
  display: block;
  transition: 0.3s;
}
.side-buttons span {
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  margin-top: 1em;
  color: #000;
  display: block;
  transition: 0.3s;
}
.side-buttons a {
  text-decoration: none;
  text-align: center;
  margin: 2em;
  font-size: 2rem;
  color: #000;
  display: block;
  transition: 0.3s;
}

.side-buttons a:hover {
  color: #f1f1f1;
  background-color: #03C3F5;
  border-radius: 5px;
  text-decoration: none;
  height: 30px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  width: 50px;
  margin-top: 0.1em;
  font-size: 36px;
  border-radius: 5px;
  background-color: #03C3F5;
  transition: 0.3s;
  height: 50px;
}
.sidenav .closebtn:hover,
.sidenav .closebtn:focus{
  background-color: #87cefa;
  text-decoration: none;
}

    /*Curve  */
    
  .custom-shape-divider-bottom-1649083328 {
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
    height: auto;
  }
  
  .custom-shape-divider-bottom-1649083328 svg {
    width: calc(132% + 1.3px);
    height: 101px;
  }
  
  .custom-shape-divider-bottom-1649083328 .shape-fill {
    fill: #FFFFFF;
  }
  
/* ==================================================================================
  4. Update Section                                                    
=====================================================================================*/
    section#features {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
/* ==================================================================================
  5. Body Navigation   
=====================================================================================*/
    .open-side-button-body-nav {
      display: none;
    }
    #body-navigation {
      background-color: var(--primary-color);
      overflow: hidden;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      z-index: 1;
      height: 50px;
    }
    .body-navigation-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .side-nav-body {
      display: none;
    }
    #body-navigation ul, li {
      display: flex;
    }
    .navItem {
      font-family: var(--font-family);
      font-size: var(--color-navitems);
      color: #000;
      margin: 1em 0em 0em 5em;
      letter-spacing: 0.3em;
      text-decoration: none;
      font-size: min(2.5vw, 12px);
    }
    .navItem:hover,
    .navItem:focus{
      font-weight: bold;
      color: #000;
      transition: 200ms;
      transform: translateY(-0.1em);
      text-decoration: none;
    }
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
    .navItem-Mobile {
      display: none;
    }

  
/* Medium Mobile Screen */
@media screen and (max-width: 810px), screen and (max-height: 500px) {

/* Register Section */
  .home-container {
    height: 100%
  }
  .home-container {
    flex-direction: column;
  }
  .home-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }


}
