@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

:root {
    /*Fonts*/
    --font-family: 'Poppins', sans-serif;
    --font-size-h1: 3rem;
    --font-size-p: 1.1rem;
    --font-size-logo: 3rem;
    /*Colors*/
    --color-logo: #03C3F5;;
    --color-navitems: #DCDCDC;;
    --primary-color: #1da1f2;
    --bg-color: #02051E;
    --light-color: #FFF;
}
html {
  overflow-X: hidden;
}
body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  width: 100%;
  height: 100%;
}


/*Inputs*/

 .inputbox-content {
  position: relative;
  width: 100%;
}
 .inputbox-content input {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  line-height: 30px;
  font-size: 14px;
  border: 0;
  background: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
}


.inputbox-content input:focus ~ .underline {
  width: 100%;
}
 .inputbox-content label {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  color: #ccc;
  cursor: text;
  transition: all 200ms ease-out;
  z-index: 10;
}
.inputbox-content .underline {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: all 200ms ease-out;
}

/*Separator*/

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #808080;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #c0c0c0;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 940px;
  width: 100%; 
  left      : 50%;
  top       : 50%;
  position  : absolute;
  transform : translate(-50%, -50%);

}
.left-container {
  background-color: #fff;
  padding: 4em;
  width: 50%;
}
.right-container {
  background-color: var(--bg-color);
  width: 50%;
  height: 100%;
}
.right-container img {
  width: 100%;
}
.right-container img { 
    animation-name: right-container;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes right-container {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

/*Login Button*/
.login {
  background-color: var(--primary-color);
  border: none;
  color: var(--light-color);
  width: 40%;
  max-width: 100%;
  height: 40px;
  border-radius: 0.25em;
  cursor: pointer;
}

.login span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.login span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.login:hover {
  border: 1px var(--primary-color) solid;
}
.login:hover span {
  padding-right: 25px;
}

.login:hover span:after {
  opacity: 1;
  right: 0;
}
/*Back Button*/
.back {
  background-color: #E74B37;
  border: none;
  color: var(--light-color);
  width: 40%;
  max-width: 100%;
  height: 40px;
  border-radius: 0.25em;
  cursor: pointer;
}
.back span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.back span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.back:hover {
  border: 1px #E74B37 solid;
}
.back:hover span {
  padding-right: 25px;
}

.back:hover span:after {
  opacity: 1;
  right: 0;
}
.ca {
  text-decoration: none;
  color: #808080;
  font-family: var(--font-family);
  transition: .3s;
}
.ca:hover {
  color: #000;
}



/*Fb and Google Buttons*/
.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  line-height: 10px;

}
  /* Shared */
  .facebook {
    margin: 10px;
    background-color: #364e92;
    font-size: 16px;
    color: #FFF;
    border: none;
    width: 200px;
    max-width: 300px;
    padding: 0.50em;
    border-radius: 0.25em;
    transition: .3s;
    cursor: pointer;
  }
  .facebook:hover {
    background-color: #4C69BA;
  }
  .google {
    margin: 10px;
    background-color: #E74B37;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    border: none;
    padding: 0.50em;
    width: 200px;
    max-width: 300px;
    border-radius: 0.25em;
    transition: .3s;
    cursor: pointer;
  }
  .google:hover {
    background-color: #BB3F30;
  }
  
  @media screen and (max-width: 810px), screen and (max-height: 500px) {
  .left-container {
    width: 90%;
  }
  .login, .back {
    width: 100%;
    margin: 0.25em;
  }
  .right-container {
    display: none;
  }
  .right-img {
    display: none;
  }
  .google {
    width: 100%;
  }
  .facebook {
    width: 100%;
  }
  }


  /*Message*/

.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 20px;
   width: 100%;
   margin: 20px auto;
   text-align: center;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 20px;
   width: 100%;
   margin: 20px auto;
   text-align: center;
}
