* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #03C3F5;
    --bg-color: #02051E;
    --button-color: #fff;

    --font-family: Trebuchet MS;
    
}
html {
  overflow: hidden;
}
body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: min(85vw, 1000px);
    margin: 0px auto;
    height: 100%;
    width: 1000px;
    background: var(--button-color);
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header img {
    width: 100px;
    padding-bottom: 2em;
}
.signin-body {
    max-width: 500px;
    width: 100%;
    height: 100%;
    padding: 2em 2em 2em 2em;
    justify-content: column;
    align-items: center;
} 
.input{
  border: 0;
	border-bottom: 1px solid #ccc;
  outline: none;
  padding: 1em;
  width: 100%;
}
.input:focus{
  border-bottom: 1px solid #000;
	transition: 0.5s;
}
h5 {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #ccc; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

h5 span { 
   background:#fff; 
   padding:0 10px; 
}
.close-submit {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.submit {
  background-color: #03C3F5;
  border: none;
  color: var(--button-color);
  cursor: pointer;
  width: 50%;
  margin: 1em;
  height: 40px;
  border-radius: 0.2em;
  font-family: var(--font-family);
  font-size: 1rem;
}
.submit:hover {
  background-color: #73c2fb;
}
.close {
  background-color: #DD4B39;
  color: var(--button-color);
  border: none;
  cursor: pointer;
  width: 50%;
  height: 40px;
  border-radius: 0.2em;
  margin: 1em;
  padding-top: 0.6em;
  font-family: var(--font-family);
  text-align: center;
  text-decoration: none;
}
.close:hover {
  background-color: #BB3F30;
}
.right-img {
    max-width: min(45vw, 1000px);
    height: 600px;
    width: 600px;
}
.right-img img {
   width: 100%;
   height: 100%;
}
  .btn-close {
    background-color: #DD4B39;
    color: var(--primary-color);
    width: 200px;
  }
  .btn-close:hover {
    opacity: 0.9;
  }
  .btn-submit {
    background-color: #03C3F5;
    color: var(--primary-color);
    width: 200px;
  }
  .btn-submit:hover {
    opacity: 0.9;
  }
  /* Social Media Buttons (Google and Facebook) */
  .modal-footer {
    width: auto;
  }
  /* Shared */
  .loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0em 1em;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
  }
  .facebook {
    background-color: #364e92;
    text-align: center;
    width: 100%;
  }
  .facebook:hover {
    background-color: #4C69BA;
  }
  .google {
    background-color: #E74B37;
    text-align: center;
    width: 100%;
  }
  .google:hover {
    background-color: #BB3F30;
  }
  
  @media screen and (max-width: 810px), screen and (max-height: 500px) {
  .container {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-img {
    display: none;
  }
  .google {
    width: 100%;
  }
  .facebook {
    width: 100%;
  }
  }